/* styles */

:root {
	/*   --bg1: #ffd7ce; */
	/*   --bg2: #facbf4; */
	--bg1: #111;
	--bg2: #351A7D;
	--hot: #ff073a;
	--hot-bg: transparent;
	--hot-hover: #f89cbd;
}

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: var(--bg1);
	background: linear-gradient(143deg, var(--bg1) 0%, var(--bg2) 100%);
}

/***** stacked header, logo, background ******/

.logo {
	height: 50px;
	/* font-family: "Great Vibes", cursive; */
	font-weight: 100;
	font-style: normal;
	font-size: 3rem;
	color: var(--hot);
	vertical-align: center;
}

.absolute-centered {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.fixed-row-bottom {
	position: fixed;
	bottom: 0;
}



.logo-container {
	z-index: 99999998;
}

svg.logo {
	position: absolute;
	width: 300px;
	height: 60px;
	z-index: 99999999;
	/*   border:1px solid red; */
	bottom: .5rem;
	left: 0;
}

/* This looks very bad at lower opacities */
.blur {
	filter: blur(10px);
}



 /************** color icons **************/

.circle {
	display: inline-block;
	opacity: 0.5;
	border-radius: 50%;
	vertical-align: -6px;
}

.grid-container {
	display: grid;
	/* grid-template-columns: repeat(2, 2fr) repeat(2, 1fr); */
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	grid-column-gap: 2px;
	grid-row-gap: 2px;
}

.grid-container * {
	border: 1px solid green;
}

.grid-container>.span2 {
	grid-column: span 2;
}

.grid-container>.span3 {
	grid-column: span 3;
}

.grid-container>.span4 {
	grid-column: span 4;
}




/* override btn-primary */
.btn-primary {
	--bs-btn-color: var(--hot);
	--bs-btn-bg: var(--hot-bg);
	--bs-btn-border-color: var(--hot);
	--bs-btn-hover-color: var(--hot);
	--bs-btn-hover-bg: var(--hot-bg);
	--bs-btn-hover-border-color: var(--hot);
	--bs-btn-focus-shadow-rgb: var(--hot);
	--bs-btn-active-color: white;
	--bs-btn-active-bg: var(--hot);
	--bs-btn-active-border-color: var(--hot);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: var(--hot);
	--bs-btn-disabled-bg: var(--hot-bg);
	--bs-btn-disabled-border-color: var(--hot-bg);
}


/***************** popup ******************/

.popup {
	/* font-family: "Edu AU VIC WA NT Hand", cursive; */
	font-family: "Nunito", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-size: 1.5rem;
	text-align: center;
}

.popupInput {
	font-size: 1rem;
	width: 250px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 3px 0 0 0;
}



/**************** dropdown ****************/

.option label,
.option input {
	cursor: pointer;
}

.select-box {
	display: flex;
	width: 100%;
	flex-direction: column;
	position: relative;
	/* background-color: red; */
}

.select-box .options-container {
	max-height: 0;
	/*   width: calc(100% - 12px); */
	width: 100%;
	opacity: 0;
	transition: all 0.4s;
	overflow: hidden;
	border-radius: 5px;
	border: solid 1px #dcdfe5;
	background-color: #ffffff;
	order: 1;
	position: absolute;
	bottom: 44px;
	z-index: 999;
	/* background-color: green; */
}

.selected {
	background: #2f3640;
	margin-bottom: 8px;
	position: relative;
	/*   width: calc(100% - 12px); */
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: solid 1px #dcdfe5;
	background-color: #ffffff;
	order: 0;
}

.selected::after {
	content: "^";
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	position: absolute;
	right: 15px;
	top: 50%;
	transition: transform 0.5s;
	transform: translateY(-50%);
}

.select-box .options-container.active {
	max-height: 200px;
	opacity: 1;
	overflow-y: scroll;
}

.select-box .options-container.active+.selected::after {
	transform: translateY(-50%) rotateX(180deg);
}

.select-box .options-container::-webkit-scrollbar {
	width: 12px;
	background: #0d141f;
	background: #81878f;
	background: #f1f2f3;
	border-radius: 5px;
}

.select-box .options-container::-webkit-scrollbar-thumb {
	background: #525861;
	background: #81878f;
	border-radius: 5px;
}

.selected,
.select-box .option {
	padding: 6px 12px;
	cursor: pointer;
}

.selected .circle,
.select-box .option .circle {
	margin: 0 5px 0 0;
}

.select-box .option:hover {
	background: #dcdfe5;
}

.select-box label {
	cursor: pointer;
}

.selected .radio,
.select-box .option .radio {
	display: none;
}


/********* addYourOwn (the text box) *************/

.addYourOwn {
	display: none;
}

#color-wrapper {
	display: inline-block;
	vertical-align: -8px;
	/*   margin-left: 4px; */
	width: 30px;
	height: 30px;
	border-radius: 30px;
	overflow: hidden;
}

[type="color"] {
	border: 0;
	padding: 0;
	width: 200%;
	height: 200%;
	cursor: pointer;
	transform: translate(-25%, -25%)
}

#text {
	display: inline-block;
}

/************** message ****************/

.msg {
	height: 20px;
	color: white;
	opacity: 0;
	transition: opacity .5s ease-in;
}

.msg.visible {
	opacity: 1;
}


/**************** map *****************/

#map {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/*   height: 100%;
  width: 100%; */
	z-index: 0;
}

.leaflet-container {
	background: var(--bg1);
	outline: 0;
}

/*************** footer ***************/

footer {
	margin-top: 50px;
	padding-top: 25px;
	border-top: 1px solid lightgrey;
}

footer>a {
	color: #bbbbbb;
}